body {
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 40px;
}

.container {
    border: 2px solid #adb5bd;
    background-color: #495057;
    border-radius: 30px;
    width: 30% !important;
}

header h2 {
    display: flex;
    align-items: center;
    background-color: #6c757d;
    color: white;
    height: 100px;
    width: 100%;
    border-radius: 30px;
    padding-left: 10px;
}

button {
    height: 100px;
    width: 100px;
    border: none;
}

.number,
#point {
    background-color: #343A40;
    color: white;
}

.charSpecial {
    background-color: #B0B0B0;
    color: black;
}

.send,
#delete,
#deleteAll {
    background-color: #FF6347;
    color: black
}

hr {
    color: #a5a5a5 !important;
}

#zero {
    width: 100%;
}

.send {
    height: 100%;
}

#point:disabled{
    cursor: pointer;
}


/* Precisa deixar ele responsivel */